.contact {
  > .section:last-child {
    padding-bottom: 0;
    padding-inline: 0;
  }
  .contact-info {
    @include flex(column, center, center, 3rem);
    padding-bottom: 4rem;
    padding-inline: 1rem;
    text-align: center;
    box-sizing: border-box;
    @media (width >= $breakpoint-sm) {
      @include flex(row, space-between, flex-start, 2rem);
      padding-bottom: 8rem;
      padding-top: 3rem;
    }
    .contact-box {
      @include flex(column, center, center, 0);
      > svg {
        color: $coral;
        margin-bottom: 1rem;
      }
      h3 {
        margin-bottom: .5rem;
      }
    }
  }
  .gm-container {
    @include mapSize(100%, 500px, 100%, 500px);
  }
}