.description-section {
  .dishes-container {
    @include flex(row, space-between, inherit, .5rem);
    flex-wrap: wrap;
    margin-top: 3rem;
    img {
      width: 100%;
      max-width: 100%;
      @media (width >= $breakpoint-sm) {
        max-width: 30%;
      }
    }
  }
}