.video-background {
  height: 80vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  video {
    height: 100%;
    object-fit: cover;
    position: absolute;
    transform: translateY(-5%);
    width: 100%;
  }

  .content {
    bottom: 3%;
    color: white;
    column-gap: 2rem;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1;
  }
}