.location-section {
  background-color: $coral;
  h2 {
    color: $white;
  }
  .location-container {
    @include flex(column-reverse, space-between, inherit, 1rem);
    padding-top: 1rem;
    @media (width >= $breakpoint-sm) {
      @include flex(row, space-between, inherit, 1rem);
    }
  }
  .location-info-container {
    @include flex(column, space-evenly, inherit, 1rem);
    color: inherit;
    flex-wrap: wrap;
    text-align: center;
    @media (width >= $breakpoint-sm) {
      text-align: left;
    }
  }
  .gm-container {
    @include mapSize(100%, 400px, 70%, 400px);
  }
}