html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-family: $font-main;
  background: $main-bg-color;
  color: $main-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  scroll-behavior: smooth;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.container {
  @include container;
}
.header {
  background-color: $header-bg-color;
  padding: 1rem;
  .container {
    @include flex(row, space-between, center);
  }
  a {
    @include link(inherit, none, none);
  }
  .burger-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 0;
    .open-menu {
      color: $white;
      filter: drop-shadow(3px 3px 1px $light-red);
    }
  }
}
main {
  min-height: 100vh;
  @include flex(column);
  .section {
    padding: 3rem 1rem;
    @media (width >= $breakpoint-sm) {
      padding: 3rem 1rem 5rem;
    }
  }
}
footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  font-family: $footer-font;
  padding: 5rem 1rem;
  .container {
    @include flex(column, center, center, 3rem);
    @media (width >= $breakpoint-md) {
      @include flex(row, space-between, flex-start, 1rem);
      flex-wrap: nowrap;
    }
    .contact-info {
      @include flex(column, flex-start, center, 2rem);
      text-align: center;
      @media (width >= $breakpoint-md) {
        @include flex(row, space-between, flex-start, 5rem);
        flex-wrap: nowrap;
      }
    }
  }
}
.social-networks {
  @include flex(row, center, center, 1rem);
  margin-top: 1rem;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
h2 {
  @include heading(3rem, $font-h2, 700, $h2-color);
  margin-bottom: 1rem;
}
h3 {
  @include heading(1rem, $font-h3, 400, inherit, .2rem, uppercase);
}
a {
  @include link($a-color);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
.btn-primary {
  @include button;
}
.btn-secondary {
  @include button($btn-secondary-bg-color, $btn-secondary-text-color, $btn-secondary-hover-bg-color, $btn-secondary-padding);
}
.flex-row {
  @include flex(row);
}
.flex-column {
  @include flex(column);
}
.text-right {
  text-align: right;
}
.hide-sm {
  display: none;
  @media (width >= $breakpoint-sm) {
    display: block;
  }
}
.gm-container {
  @include mapSize;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $coral;
}
.spinner {
  animation: spin 3s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}